@using Distributor.ViewModels
@{
    ViewBag.Title = "Home Page";
    var user = @Session["user"] as SessionStorageModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="">'
    <link rel="shortcut icon" href="~/Assets/Images/aps.net.ico">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/bootstrap-v4.0.0-beta.2.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    @*<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />*@
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables-1.10.16.css" rel="stylesheet" />
    <!-- Font Awesome CSS-->
    @*<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Content/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/bootstrap-4-material-admin.style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/custom.css">
    <link href="~/Content/table-custom.css" rel="stylesheet" />

    <link href="~/Content/AdminLTE/AdminLTE.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/umd/popper.min.js"> </script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-v4.0.0-beta.2.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-v1.4.1.cookie.js"> </script>
    <script src="~/Scripts/Chart-2.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate-v1.17.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />

    <style>
        .main-footer {
            margin-left: 0;
        }
    </style>
    @*@{
            var EmployeeName = (string)Session["EmployeeName"];
        }*@

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar navbar-fixed-top">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
                                <div class="brand-text brand-big"><span>Bootstrap</span><strong>Dashboard</strong></div>
                                <div class="brand-text brand-small"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                            <!-- Logout    -->
                            <li class="nav-item">

                                <a href="@Url.Action("Logout", "Account")" class="nav-link logout">
                                    Logout
                                    <i class="fa fa-sign-out"></i>
                                </a>

                                @*@Html.ActionLink("LogOut", "Logout", "Account", null, new { @class = "nav-link logout" })
                                    <a href="login.html" class="nav-link logout">Logout
                                        <i class="fa fa-sign-out"></i>
                                    </a>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="@user.Avatar" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">@user.Name</h1>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus-->
                <ul class="list-unstyled">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Departments")">
                                    <i class="fa fa-users"></i>
                                    Departments
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Employees")">
                                    <i class="fa fa-user"></i>
                                    Employees
                                </a>
                            </li>
                        }
                    }

                    <li>
                        <a href="@Url.Action("Index", "Categories")">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Categories
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Page", "Products")">
                            <i class="fa fa-gift" aria-hidden="true"></i>
                            Products
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Create", "Orders")">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Create Order
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Regions")">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Region
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "_Distributors")">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Distributor
                        </a>
                    </li>

                    @*<li class="active"><a href="index.html"> <i class="icon-home"></i>Home </a></li>*@
                    <li><a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
                    <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
                    <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
                    <li>
                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </li>
                </ul><span class="heading">Extras</span>
                <ul class="list-unstyled">
                    <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
                </ul>
            </nav>
            <!-- Main Content Area -->
            <div class="content-inner">
                @RenderBody()
                <!-- Page Footer-->
                @*<footer style="width:100%" class="main-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Awakening &copy; 2017-2019</p>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>

                                </div>
                            </div>
                        </div>
                    </footer>*@
            </div>

        </div>
    </div>



    <!-- Javascript files-->
    <!-- Main File-->
    <script src="~/Scripts/front.js"></script>


    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @RenderSection("scripts", required: false)

</body>
</html>
