<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4-beta.css" rel="stylesheet" />
    <link id="changeable"href="" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-4-sandstone.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap-4-beta.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/bootbox.min.js"></script>

    <!-- self script -->
    <script>
        $(document).ready(() =>{
            $('#united').on('click', () => {
                $('link#changeable').removeAttr("href");
                $('link#changeable').attr("href", "https://bootswatch.com/4/united/bootstrap.css");
            });
        });

        $(document).ready(() => {
            $('#darkly').on('click', () => {
                $('link#changeable').removeAttr("href");
                $('link#changeable').attr("href", "https://bootswatch.com/4/darkly/bootstrap.css");
            });
        });

        $(document).ready(() => {
            $('#pulse').on('click', () => {
                $('link#changeable').removeAttr("href");
                $('link#changeable').attr("href", "https://bootswatch.com/4/pulse/bootstrap.min.css");
            });
        });

        $(document).ready(() => {
            $('#flatly').on('click', () => {
                $('link#changeable').removeAttr("href");
                $('link#changeable').attr("href", "https://bootswatch.com/4/flatly/bootstrap.min.css");
            });
        });

        $(document).ready(() => {
            $('#minty').on('click', () => {
                $('link#changeable').removeAttr("href");
                $('link#changeable').attr("href", "https://bootswatch.com/4/minty/bootstrap.min.css");
            });
        });
    </script>
    <!-- self script -->
    <link href="~/Content/jquery.dataTables.-1.10.5.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

</head>
<body>
    <!--
    Custom nvbar color
    fixed-top
    -->
    <div class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a href="../" class="navbar-brand"><img src="~/Content/images/logos.png" alt="Awakening"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <a id="united"class="dropdown-item" href="#">united</a>
                            <div class="dropdown-divider"></div>
                            <a id="darkly"class="dropdown-item" href="#">darkly</a>
                            <div class="dropdown-divider"></div>
                            <a id="pulse"class="dropdown-item" href="#">pulse</a>
                            <div class="dropdown-divider"></div>
                            <a id="flatly"class="dropdown-item" href="#">flatly</a>
                            <div class="dropdown-divider"></div>
                            <a id="minty"class="dropdown-item" href="#">minty</a>
                        </div>
                    </li>
                    <li class="nav-item">
                       @Html.ActionLink("Home", "Index", "Home", null, new { @class= "nav-link"} )
                    </li>
     
                   
                    <!-- Authentication URL -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("products", "Index", "Products", null, new { @class = "nav-link" })
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Departments", "Index", "Departments", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("employees", "Index", "Employees", null, new { @class = "nav-link" })
                            </li>
                        }

                        
                    }
                   
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link">Welcome @User.Identity.Name</a>
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("LogOut", "Logout", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else  {
                    <li class="nav-item">
                        @*<a class="nav-link" href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a>*@
                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                    </li>
                    }
                    
                    
                </ul>

            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Awakening's Distributor Management Application</p>
        </footer>
    </div>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    
    @RenderSection("scripts", required: false)
    
</body>
</html>
