@model Distributor.POCO.OrderDetail


<tr>
    <td>@Html.DisplayFor(ModelItem => Model.OrderId)</td>
    <td>@Html.DisplayFor(ModelItem => Model.ProductId)</td>
    <td>@Html.DisplayFor(ModelItem => Model.Price)</td>
    <td>@Html.DisplayFor(ModelItem => Model.DemandQuantity)</td>
    <td>@Html.DisplayFor(ModelItem => Model.ActualQuantity)</td>
    <td>@Html.DisplayFor(ModelItem => Model.ToTalAmount)</td>
</tr>

