@model Management_Distributor.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login Here</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        @if (!string.IsNullOrEmpty(ViewBag.Msg))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Failed</strong> @ViewBag.Msg
            </div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
        <div class="form-group">
            @Html.LabelFor(model => model.usernameOremail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usernameOremail, new { htmlAttributes = new { @class = "form-control" , placeholder = "Username or Email" } })
                @Html.ValidationMessageFor(model => model.usernameOremail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passwordRaw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.passwordRaw, new { htmlAttributes = new { @class = "form-control", placeholder = "********" , Textmode = "Password"} })
                @Html.ValidationMessageFor(model => model.passwordRaw, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
