@model Distributor.ViewModels.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="">'
    <meta name="robots" content="all,follow">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/login-page.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
            $(function(){
                $('.LoginIn').on('click', () => {
                    $('.fold').toggleClass('active');
                });
            });
    </script>
    <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>

    <div class="container">
        <!-- <img class="avatar" src="user_login_man-128.png">
        <h2>Login</h2> -->
        <div class="LoginIn">
            Click here to login
        </div>
        <div class="fold">
            @using (@Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="inputBox">
                    @Html.EditorFor(model => model.UsernameOrEmail, new { htmlAttributes = new { @class = "", id = "" } })
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    @Html.LabelFor(mode => Model.UsernameOrEmail, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.UsernameOrEmail, "", new { @class = "text-danger" })
                    <!-- <input tabindex="1" type="text" name="" required=""> -->
                    <!--  <label>username</label> -->
                </div>
                <div class="inputBox">
                    @Html.PasswordFor(model => model.PasswordRaw, new { @class = "", id = "" })
                    @Html.LabelFor(model => model.PasswordRaw, htmlAttributes: new { @class = "" })
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    @Html.ValidationMessageFor(model => model.PasswordRaw, "", new { @class = "text-danger" })
                    <!-- <input tabindex="2" type="password" name="" required="">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label>password</label> -->
                </div>
                <input tabindex="3" type="submit" name="" value="Login">
                if (!string.IsNullOrEmpty(ViewBag.Msg))
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @ViewBag.Msg
                    </div>
                }
                <a class="Forget-Password" href="forget_password" title="">Forget password ?</a>
            }

        </div>
    </div>
</body>
</html>


