@model Distributor.POCO.Category

@{
    Layout = null;
}

    @using (Html.BeginForm("AddOrEdit", "Categories", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, new { @class="control-label" })
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="input-group">
                @Html.TextAreaFor(model => model.Description, 4,55,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn btn-warning" />
        </div>
    }
