
@model Distributor.POCO.Category

@{
    ViewBag.Title = "Index";
}
<style>
    #categoriesTable .fa {
        color: #fff !important;
    }
</style>

<!-- Page Header-->
<header style="margin-top: 0;"class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Categories</h2>
    </div>
</header>

<section style="padding: 10px 0;"class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4"><a class="btn" style="background-color:#36d2a5;color:#fff;" onclick="PopupForm('@Url.Action("AddOrEdit","Categories")')"><i class="fa fa-plus-circle">  Add New</i></a></h3>
                    </div>
                    <div class="card-body">
                        <table id="categoriesTable" class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.CategoryId)</td>
                                    <td>@Html.DisplayNameFor(model => model.CategoryName)</td>
                                    <td>@Html.DisplayNameFor(model => model.Description)</td>
                                    <td>Edit</td>
                                    <td>Remove</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var Popup, datatable;
        /* Process datatable */
        $(document).ready(function () {
            let $table = $('#categoriesTable');
            if ($table.length) {
                console.log('Inside the table');
            }
            datatable = $table.DataTable({
                lengthMenu: [[3, 5, 10, -1], ['3', '5', '10', 'All']],
                pageLength: 5,
                "ajax": {
                    "url": "/Categories/LoadData",
                    "type": "GET",
                    "datatype": "json"
                },
                    "columns": [
                        {
                            "data": "CategoryId"

                        },
                        {
                            "data": "CategoryName"

                        },
                        {
                            "data": "Description"

                        }
                        ,
                        {
                            "data": "CategoryId",
                            bSortable: false,
                            searchable: false,
                            mRender: (data, type, row) => {
                                let opt = '';
                                //opt += '<a href="Categories/Edit/'+data+'" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                                opt += "<a class='btn btn-success btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Categories")/"+data+"')><i class='fa fa-pencil-square-o' aria-hidden='true'></i></a>";
                                return opt;

                            }
                        },
                        {
                            "data": "CategoryId",
                            bSortable: false,
                            searchable: false,
                            mRender: (data, type, row) => {
                                let opt = '';
                                //opt += '<a href="Categories/Delete/' + data + '"" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                opt += "<a class='btn btn-danger btn-sm' onclick=Delete('" + data + "')><i class='fa fa-trash' aria-hidden='true'></i></a>";
                                return opt;

                            }
                        },

                    ],
                    "language": {
                        "emptyTable" : "Currently no data found. Please click on <b>Add New</b> button"
                    }
            });
        });
        /* End Process datatable */

        /* Show add/edit Form */
        function PopupForm(url)
        {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response)
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    modal: true,
                    title: 'Add/Update Category',
                    height: 400,
                    width: 350,
                    close: function()
                    {
                        Popup.dialog('destroy')
                            .remove();
                    }
                });
            });
        }
        /* End Show add/edit Form */

        /* Submit add/Edit Form*/
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success == true) {
                            Popup.dialog('close');
                            datatable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            });
                        }
                        else {
                            Popup.dialog('close');
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "Error"
                            });
                        }
                    },
                    error: function (err) {
                        Popup.dialog('close');
                        $.notify("Somthing went wrong!", {
                            globalPosition: "top center",
                            className: "Error"
                        });
                    }
                });
            }
            return false;
        }
        /* End Submit add/Edit Form*/

        /* Remove record opt */

        function Delete(id) {
            if(confirm('Are you Sure to remove this category record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Remove", "Categories")/' + id,
                    success: function (data) {
                        if (data.success) {
                            datatable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });

                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "Error"
                            });
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "Error",
                            style: 'bootstrap'
                        });
                    }
                });
            }
        }

        /* End Remove record opt */
    </script>
}